@media(max-width: 723px) {
    .adv {
        &__item {
            width: 33%;
            max-width: none;
        }
    }
}
@media(max-width: 706px) {
    .adv {
        &__items {
            align-items: flex-start;
        }
    }
}
@media(max-width: 581px) {
    .header {
        align-items: flex-start;
        &__official {
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
    .button_header {
        width: 125px;
        height: 40px;
    }
}
@media(max-width: 424px) {
    .header {
        flex-direction: column;
        align-items: center;
        &__logo {
            width: 60%;
        }
        &__contacts {
            align-items: center;
        }
        &__official {
            padding-top: 25px;
            font-size: 20px;
            span {
                font-size: 20px;
            }
        }
        &__phone {
            margin-top: 20px;
        }
    }
    .button {
        &_header {
            width: 150px;
            height: 40px;
        }
    }
    .promo {
        &__icon {
            width: 33%;
        }
        &__icons {
            width: 100%;
        }

    }
}