.feedbacks {
    padding-bottom: 71px;
    &__h {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #0d0d0d;
        text-align: center;
    }
    &__img {
        display: block;
        width: 169px;
        height: 169px;
    }
    &__block {
        display: flex;
        justify-content: flex-start;
        margin-top: 100px;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__count {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        padding-top: 10px;
    }
    &__descr {
        padding-top: 19px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }
    &__text {
        width: 700px;
        padding-left: 62px;
    }
    &__blocks {
        margin-top: 70px;
    }
}